@import 'variables';
@import 'media-queries';

@import 'about';
@import 'header';
@import 'home';
@import 'speakers';
@import 'sponsors';

body {
  font-family: 'Open Sans';
}

.buy-a-ticket {
  margin: 18px 0;
}

.hero, .footer {
  text-align: center;
}

.constrained-content {
  margin: 0 auto;
  max-width: 660px;
}
