.speakers {
  display: flex;
  flex-flow: row wrap;

  .speakers-list {
    flex: 2 100%;
    text-align: center;

    .speaker {
      padding-bottom: 24px;
      text-align: center;
      vertical-align: top;
      width: 10%;

      @media #{$small} {
        width: 32%;
      }

      .speaker-image {
        max-width: 100%;
        border-radius: 1000px;
        width: 80px;

        @media (max-width: 640px) {
          width: 60px;
        }
      }

      .speaker-title {
        font-size: 1.6rem;
      }
    }
  }

  .speakers-speaker-content {
    flex: 3 100%;
  }

  .title {
    flex: 1 100%;
    text-align: center;
  }

}

#speakers {
  margin: 20px 0;
}

.speaker {
  display: inline-block;
  padding-bottom: 32px;
  text-align: center;
  vertical-align: top;
  width: 32%;

  @media #{$small} {
    width: 49%;
  }

  .active {
    border: 4px solid $pink;
    display: inherit;
    line-height: 0;
    border-radius: 1000px;
  }

  a {
    text-decoration: none;

    span {
      color: $dark;
      transition: color 0.5s ease;

      &:hover {
        color: lighten($dark, 30%);
      }
    }
  }

  .speaker-image {
    max-width: 100%;
    border-radius: 1000px;
    width: 140px;

    @media #{$small} {
      width: 100px;
    }
  }

  .speaker-name {
    display: block;
    font-size: 14px;
  }

  .speaker-talk-title {
    display: block;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 18px;
  }
}

.speaker-show {
  display: flex;
  flex-flow: row wrap;

  .speaker-detail {
    flex: 1 48%;
    padding-right: 12px;
  }

  .speaker-info {
    flex: 2 48%;
    padding-left: 12px;
  }

  .speaker-name {
    font-style: italic;
    font-size: 18px;
  }

  .talk-description, .speaker-bio {
    font-size: 14px;
  }

  .talk-title {
    font-size: 24px;
  }
}
