<div class='footer'>
  <p>Need to get in touch? Email <a href="mailto:info@burlingtonrubyconference.com">info@burlingtonrubyconference.com</a> with any questions, concerns, or comments.</p>

  <p>All speakers, attendees, and organizers are expected to follow the {{#link-to 'conduct'}}Code of Conduct{{/link-to}}.</p>

  <p>Organized by <a href="https://twitter.com/brettchalupa">Brett Chalupa</a> and <a href="http://www.standingollc.com/">Standing O</a>.</p>
</div>
