<a {{bind-attr href=sponsor.website}} class='sponsor' target='_blank'>
  <img
    class='sponsor-image'
    {{bind-attr src=sponsor.logoPath alt=sponsor.name}} >

</a>

{{#if sponsor.description}}
  <p class='sponsor-description'>{{sponsor.description}}</p>
{{/if}}
