<div class='about constrained-content'>
  <h2>About</h2>

  <h3>The Conference</h3>

  <p>The Burlington Ruby Conference is an annual conference focused on
  gathering those interested in the Ruby programming language in
  beautiful Burlington, Vermont, USA. The event is single track, with
  talks spread over the course of two days. Between each 30 minute talk
  is a lengthy break to give people a chance to chat.</p>

  <p>To kick off the event, on Friday night, there is a social gathering
  at Hotel VT. From 5pm to 7pm, we hope you will join us to enjoy some
  food and drinks before the conference starts on Saturday. Admission is
  included in the ticket price - partners are welcome to come.</p>

  <h3>Burlington</h3>

  <p>Burlington is a small city, but it is the biggest city in the
  state. It is situated between the mountains and Lake Champlain, which
  makes for gorgeous views. Burlington is full of delicious food and
  beer - a few of our favorites are American Flatbread, The Farmhouse,
  and Citizen Cider. There is also a lengthy bike path, perfect for a
  morning or an evening ride or walk.</p>

  <h4>Places to Stay</h4>

  <p>Lodging in downtown can be pricey in the summer, but all of the
  downtown hotels are within walking distance of the conference venue.
  Lodging outside of the city is cheaper, but a car is most likely
  needed to get to the event.</p>

  <ul>
    <li><a href='http://hiltongardeninn3.hilton.com/en/hotels/vermont/hilton-garden-inn-burlington-downtown-BTVDWGI/index.html'>Hilton Garden Inn</a></li>
    <li><a href='http://www3.hilton.com/en/hotels/vermont/hilton-burlington-BTTVTHF/index.html'>Hilton Burlington</a></li>
    <li><a href='http://www.theburlingtonhostel.com/'>Burlington Hostel</a></li>
    <li><a href='http://hotelvt.com/home'>Hotel Vermont</a></li>
  </ul>

  <h3>Recap From Last Year</h3>

  <iframe src="//player.vimeo.com/video/103949937?title=0&amp;byline=0&amp;portrait=0" class='video-embed' width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
