<section class='hero'>
  <div class='hero-info constrained-content'>
    <p>The fourth annual gathering of Ruby friends in Burlington,
    Vermont, USA.</p>

    <p>Meet folks, enjoy the city, and grow as a Rubyist!</p>

    <p>The 2015 conference is taking place on August 1st and August 2nd
    at <a href='http://www.mainstreetlanding.com/performing-arts-center/'>Main
    St. Landing Film House</a> in Burlington, Vermont, with a Friday evening social gathering
    on July 31st at <a href='http://hotelvt.com/home'>Hotel VT</a>.</p>

    <a href='https://ti.to/burlington-ruby/2015-burlington-ruby-conference' class='button button-primary buy-a-ticket'>Buy a Ticket</a>

    <p>Early tickets are now on sale at $200 a ticket. The price will
    increase to $250 on May 31st, 2015 at 8:00pm EDT.</p>

    <p>Burlington is pretty busy in the summer, so hotels downtown can
    be tough to find. The conference has two hotel blocks that are
    near the conference venue. Be sure to book by June 30th to get the
    block rate.</p>

    <ul>
      <li><a href='http://hiltongardeninn.hilton.com/en/gi/groups/personalized/B/BTVDWGI-BTVRBY-20150730/index.jhtml?WT.mc_id=POG'>Hilton Garden Inn</a> - $209/night</li>
      <li><a href='http://www.hilton.com/en/hi/groups/personalized/B/BTTVTHF-BRC-20150731/index.jhtml?WT.mc_id=POG'>Hilton Burlington</a> - $239/night</li>
    </ul>

    <hr>

    <div id='speakers'>
      <h2>Speakers</h2>

      {{#each speakers as |speaker|}}
        <div class='speaker'>
          {{#link-to 'speakers.speaker' speaker}}
            <img {{bind-attr src=speaker.imageUrl}} class='speaker-image'>
            <span class='speaker-name'>{{speaker.name}}</span>
            <span class='speaker-talk-title'><em>{{speaker.talkTitle}}</em></span>
          {{/link-to}}
        </div>
      {{/each}}

    </div>

    <hr>

    <div id="sponsors">
      <h2>Sponsors</h2>

      <p>A big thank you to our sponsors for supporting the conference.
      The event could not happen without their support.</p>

      {{#each sponsors as |sponsor|}}
        {{partial 'sponsor' sponsor}}
      {{/each}}

      <p class='sponsor-prospect'>Interested in supporting the conference by becoming a sponsor?
      Checkout <a href='https://s3.amazonaws.com/burlingtonrubyconference/burlington-ruby-conference-2015-sponsorship-prospectus.pdf'>
      the sponsorship prospectus</a> to get an idea of what sponsoring the
      event would look like.</p>
    </div>

    <hr>

    <p><a href='https://twitter.com/btvrubyconf'>Follow the conference on Twitter</a>, or get updates via email:</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//burlingtonruby.us6.list-manage.com/subscribe/post?u=4afa6a3d86e7481d5f562f7b7&amp;id=47188c99b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    <div class="mc-field-group">
      <input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_4afa6a3d86e7481d5f562f7b7_47188c99b0" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->

  </div>
</section>
